Flask==1.1.2
Flask-SocketIO==5.0.1
pydub==0.24.1
numpy==1.19.0
pystoi==0.3.3
git+https://github.com/ludlows/python-pesq#egg=pesq
six
sounddevice==0.4.0
torchaudio==0.5.1
torch==1.5.1
opencv-python
dlib
